@import '../../assets/styles/variables.scss';

main {
  width: calc(100% - 117px);
  margin-left: auto;
  margin-top: 91px;
  .dashboard {
    width: 100%;
    padding: 2.25rem 2.5rem;
    &__title {
      font-size: 3rem;
      margin-bottom: map-get($margins, med);
      &__username {
        color: $color-primary;
      }
    }
    &__subtitle {
      font-size: 18px;
      margin-bottom: map-get($margins, large);
    }
    &__container {
      display: flex;
      gap: 2rem;
      &__left {
        max-width: 75%;
        width: 75%;
        @include screen-xs {
          max-width: 100%;
        width: 100%;
        }
      }
      @include screen-xs {
        flex-direction: column;
      }
      &__right {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include screen-sm {
          justify-content: flex-start;
          gap: 2.1rem;
        }
        @include screen-xs {
          width: 100%;
        }
      }
      &__charts {
        max-width: 100%;
        margin-top: map-get($margins, large);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        place-items: baseline;
        gap: map-get($margins, med);
        @include screen-sm {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include screen-xs {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }
    }
  }
}
